.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

@media (max-width: 640px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    margin: 42px auto 0;
  }
}
